.SponsorTitles{

    &__container{
        

        &--sponsor{
            
        }
    }

    &__pagination{

        &--bullet{  
            background-color: #fff !important;
        }
    }

}

.swiper, swiper-containter {
    margin: 25px !important;;
    padding: 45px !important;;
    
}