.AllSponsors{

    &__content{
        
        @include make-flex(row, center, space-around);
        flex-wrap: wrap;
        &--card{
            width: 200px;
            height: 100px;


            &--image{
                width: 150px;
                height: 95px;
                background-color: white;
                border-radius: 20px;
                margin: 20px;
                padding: 15px;
            }
        }

    }
}