.EventsPage {
  &__container {
    &--scrollItems {
      padding-top: 100px;
      background: linear-gradient(179deg, #ff3916 0%, rgba(0, 0, 0, 0) 80%);
      position: relative;
      img {
        position: absolute;
        width: 40rem;
        top: 5rem;
        left: 25rem;
        @include respondAt(915px) {
          width: 20rem;
          left: 1rem;
        }
      }
    }
    &--upcoming {
      margin-top: 30px;
    }
    &--popular {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
}
