.EventsPage {
  &__container {
    &--scrollItems {
      padding-top: 100px;
      background: linear-gradient(179deg, #ff3916 0%, rgba(0, 0, 0, 0) 80%);
      position: relative;
      img {
        position: absolute;
        width: 40rem;
        top: 5rem;
        left: 25rem;
        @include respondAt(915px) {
          width: 20rem;
          left: 1rem;
        }
      }
    }
    &--upcoming {
      margin-top: 30px;
    }
    &--popular {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    &--search {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 3rem;
      padding-right: 3rem;
      &__down {
        font-size: 1.2rem;
        @include respondAt(915px) {
          font-size: 1rem;
        }
        a {
          color: $primaryColor;
        }
      }
      @include respondAt(915px) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
      }
      input {
        background-color: white;
        color: black;
        font-family: 'Poppins',sans-serif;
        width: 20rem;
        height: 2.5rem;
        font-size: 1.2rem;
        // margin-left: 3rem;
        margin-bottom: 1rem;
        padding: .6rem;
        border: none;
        border-radius: .5rem;
        @include respondAt(915px) {
          width: 16rem;
          font-size: 1rem;
          margin-top: 1rem;
        }
      }
    }
    &--closed {
      font-family: 'Inter', sans-serif;
      font-size: 1.7rem;
      text-align: center;
      height: 30vh;
      padding-top: 5rem;
    }
  }
}
