.HeroSection {
  @include box(100vw, 100vh);
  @include make-flex(column, center, center);
  background-image: url("/Images/Homepage/heroSection.webp");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  position: relative;
  padding: 0 20rem;

  @include respondAtLarge(915px, 1300px) {
    padding: 0 10rem;
  }

  @include respondAt(915px) {
    padding: 0 2rem;
  }

  &__overlay {
    @include box(100%, 100%);
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 40%,
      rgba(0, 0, 0, 1)
    );
    position: absolute;
    top: 0;
    left: 0;
  }

  &__content {
    @include make-flex(column, center, center);
    gap: 2rem;
    z-index: 1;
    text-align: center;

    &--heading {
      font-size: 5rem;
      text-transform: uppercase;
      font-family: "Migra";
      width: auto;
      max-width: 45rem;

      @include respondAt(915px) {
        font-size: 3rem;
      }

      span {
        color: $primaryColor;
      }
    }

    &--paragraph {
      font-size: 1rem;
      font-weight: 400;
      font-family: "Poppins", sans-serif;
    }
  }

  &__dates {
    @include box(100vw, auto);
    @include make-flex($dir: column, $just: center, $align: center);
    gap: 0.5rem;
    z-index: 1;
    position: absolute;
    bottom: 2rem;
    // left: 50%;
    // transform: translateX(-50%);
    text-align: center;

    &--date {
      font-family: "Migra";
      font-size: 1.5rem;
      color: $primaryColor;
    }
  }
}

// .Aftermovie {
//   @include box(100%, auto);
//   @include make-flex(column, center, center);
//   min-height: 80vh;
//   padding: 0 20rem;
//   text-align: center;
//   gap: 2rem;
//   position: relative;

//   @include respondAtLarge(915px, 1300px) {
//     padding: 0 10rem;
//   }

//   @include respondAt(915px) {
//     padding: 0 2rem;
//     height: 100vh;
//   }

//   &__video {
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     overflow: hidden;
//     opacity: 0.5;

//     video {
//       height: 100%;
//       width: auto;
//     }
//   }

//   &__content {
//     z-index: 1;
//     position: relative;
//     @include make-flex(column, center, center);
//     gap: 2rem;
//   }

//   &__heading {
//     font-size: 5rem;
//     text-transform: uppercase;
//     font-family: "Migra";
//     width: auto;

//     @include respondAt(915px) {
//       font-size: 3rem;
//     }

//     span {
//       color: $primaryColor;
//     }
//   }

//   &__paragraph {
//     font-size: 1rem;
//     font-weight: 400;
//     font-family: "Poppins", sans-serif;
//   }
// }

// .CTA {
//   padding: 0.75rem 2.5rem;
//   border-radius: 10px;
//   border: none;
//   background-color: $primaryColor;
//   color: $backgroundColor;
//   font-family: "Poppins", sans-serif;
//   font-size: 1rem;
//   cursor: pointer;
//   transition: all 0.2s ease-in-out;

//   &:hover {
//     background-color: $primaryColorOnHover;
//   }
// }
