.HeroSection {
  @include box(100vw, 100vh);
  @include make-flex(column, center, center);
  background-image: url("/Images/Homepage/heroSection.webp");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  position: relative;
  padding: 0 20rem;

  @include respondAtLarge(915px, 1300px) {
    padding: 0 10rem;
  }

  @include respondAt(915px) {
    padding: 0 2rem;
  }

  &__overlay {
    @include box(100%, 100%);
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 40%,
      rgba(0, 0, 0, 1)
    );
    position: absolute;
    top: 0;
    left: 0;
  }

  &__content {
    @include make-flex(column, center, center);
    gap: 2rem;
    z-index: 1;
    text-align: center;
    margin-bottom: 4rem;

    &--heading {
      font-size: 5rem;
      text-transform: uppercase;
      font-family: "Migra";
      width: auto;
      max-width: 45rem;
      line-height: 4.5rem;

      @include respondAt(915px) {
        font-size: 3rem;
        line-height: 3rem;
      }

      span {
        color: $primaryColor;
      }
    }

    &--paragraph {
      @include box(65vw, auto);
      font-size: 1.3rem;
      line-height: 1.5rem;
      font-weight: 400;
      font-family: "Poppins", sans-serif;
      @include respondAt(915px) {
        @include box(80vw, auto);
        font-size: 1.1rem;
        line-height: 1.2rem;
      }
    }
  }

  &__dates {
    @include box(100vw, auto);
    @include make-flex($dir: column, $just: center, $align: center);
    gap: 0.5rem;
    z-index: 1;
    position: absolute;
    bottom: 2rem;
    // left: 50%;
    // transform: translateX(-50%);
    text-align: center;

    &--date {
      font-family: "Migra";
      font-size: 1.5rem;
      color: $primaryColor;
    }
  }
}
