.HeroSection {
  @include box(100vw, 100vh);
  @include make-flex(column, center, center);
  background-image: url("/Images/Homepage/heroSection.webp");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  position: relative;
  padding: 0 20rem;

  @include respondAtLarge(915px, 1300px) {
    padding: 0 10rem;
  }

  @include respondAt(915px) {
    padding: 0 2rem;
  }

  &__overlay {
    @include box(100%, 100%);
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 40%,
      rgba(0, 0, 0, 1)
    );
    position: absolute;
    top: 0;
    left: 0;
  }

  &__content {
    @include make-flex(column, center, center);
    gap: 2rem;
    z-index: 1;
    text-align: center;
    margin-bottom: 4rem;

    &--heading {
      font-size: 5rem;
      text-transform: uppercase;
      font-family: "Migra";
      width: auto;
      max-width: 45rem;
      line-height: 4.5rem;

      @include respondAt(915px) {
        font-size: 3rem;
        line-height: 3rem;
      }

      span {
        color: $primaryColor;
      }
    }

    &--paragraph {
      @include box(65vw, auto);
      font-size: 1.3rem;
      line-height: 1.5rem;
      font-weight: 400;
      font-family: "Poppins", sans-serif;
      @include respondAt(915px) {
        @include box(80vw, auto);
        font-size: 1.1rem;
        line-height: 1.2rem;
      }
    }
  }

  &__dates {
    @include box(100vw, auto);
    @include make-flex($dir: column, $just: center, $align: center);
    gap: 0.5rem;
    z-index: 1;
    position: absolute;
    bottom: 2rem;
    // left: 50%;
    // transform: translateX(-50%);
    text-align: center;

    &--date {
      font-family: "Migra";
      font-size: 1.5rem;
      color: $primaryColor;
    }
  }
}

.ContactPage {
  gap: 50px;
  max-width: 1500px;
  position: relative;
  padding: 0 55px 100px;
  background: linear-gradient(
    179.37deg,
    #2e38ce 25.22%,
    rgba(0, 0, 0, 0) 102.2%
  );
  @include respondAt(950px) {
    gap: 30px;
  }
  @include respondAt(480px) {
    padding: 0px 17px 80px;
  }
  &__container {
    &--top {
      padding-top: 123px;
      @include make-flex($dir: column, $just: center);
      @include box(100%, auto);
      text-align: center;
      &__title {
        font-family: "Migra";
        color: #ffffff;
        font-size: 60px;

        span {
          font-family: "Poppins";
          color: #cafa08;
        }

        @include respondAt(950px) {
          font-size: 30px;
        }
      }
    }
    &--tabs {
      margin-bottom: 10px;
      @include box(100%, auto);
      @include make-flex($dir: row, $just: center);
      gap: 30px;
      font-family: "Poppins";
      font-weight: 400;
      margin-top: 2rem;
      &__tab {
        cursor: pointer;
        @include box(150px, auto);
        @include make-flex();
        padding: 7px 0;
        background-color: #193559;
        border-radius: 74px;
        color: $primaryColor;
        font-family: "Poppins";
        // font-size: 20px;

        @include respondAt(950px) {
          @include box(120px, auto);
          font-size: 15px;
          padding: 3px 0;
        }

        &--link {
          transition: all 0.3s ease-in-out;
          &:hover {
            background: rgba(217, 217, 217, 0.1);
            border: 1px solid #ffffff;
            color: #ffffff;
          }
        }

        &--active {
          background: rgba(217, 217, 217, 0.1);
          border: 2px solid #ffffff;
          color: $primaryColor;
        }
      }
    }
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    &--card {
      margin: 1rem;
      padding: 0.5rem 2.5rem 0.5rem 2.5rem;
      background: linear-gradient(180deg, #2f39ce 0%, rgba(9, 11, 38, 0) 100%);
      border: 1.13677px solid #ffffff;
      border-radius: 20px;
      @include box($width: 20rem, $height: 20rem);
      @include make-flex($dir: column, $align: flex-start);
      @include respondAt(950px) {
        @include make-flex($dir: column, $align: center)
      }
      gap: 20px;
      &__image {
        width: 70px;
        height: 70px;
      }
      &__title {
        &--name {
          font-family: "Satoshi";
          font-style: normal;
          font-weight: 900;
          font-size: 20px;
        }
        &--designation {
          font-family: "Satoshi";
          font-weight: 500;
          font-size: 15px;
          color: rgba(255, 255, 255, 0.5);
        }
      }
      &__phone {
        background: #90fa08;
        backdrop-filter: blur(17px);
        border-radius: 45px;
        width: 15rem;
        height: 2rem;
        text-align: center;
        color: black;
        p {
          margin-top: 4px;
        }
      }
      &__email {
        background: rgba(217, 217, 217, 0.1);
        border: 1px solid #ffffff;
        backdrop-filter: blur(17px);
        border-radius: 45px;
        width: 15rem;
        height: 2rem;
        text-align: center;
        color: $primaryColor;
        p {
          margin-top: 4px;
        }
      }
    }
  }
}
