.GameStats {
  @include box(100%, auto);
  @include make-flex($dir: column, $just: flex-start, $align: flex-start);
  min-height: 100vh;
  padding: 5rem 0;

  &__statistics {
    @include box(100%, auto);
    padding: 3rem 0rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;

    @include respondAtLarge(915px, 1300px) {
      padding: 3rem 10rem;
    }

    @include respondAt(915px) {
      padding: 3rem 2rem;
    }

    &--card {
      @include make-flex($dir: column, $just: flex-start, $align: center);
      margin: 0;

      h1 {
        font-size: 4.5rem;
        font-family: "Poppins", sans-serif;

        @include respondAt(915px) {
          font-size: 2rem;
        }
      }

      h2 {
        font-size: 2.5rem;
        text-transform: uppercase;
        font-family: "Migra";
        margin-bottom: -0.75rem;

        @include respondAt(915px) {
          font-size: 1.5rem;
        }

        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5) {
          color: transparent;
          -webkit-text-stroke: 1px $primaryColor;
        }

        &:nth-child(4) {
          opacity: 0.5;
        }

        &:nth-child(5) {
          opacity: 0.2;
        }
      }
    }
  }

  &__sports {
    @include box(100vw, auto);
    margin: auto;
    overflow-x: hidden;

    @include respondAtLarge(915px, 1300px) {
      @include box(calc(100vw - 20rem), auto);
    }

    @include respondAt(915px) {
      @include box(100%, auto);
    }
  }
}
